<!-- Load CCAO favicons -->
<link rel="shortcut icon" href="/static/favicon/favicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="/static/favicon/favicon.ico">
<link rel="icon" type="image/png" sizes="196x196" href="/static/favicon/favicon-192.png">
<link rel="icon" type="image/png" sizes="160x160" href="/static/favicon/favicon-160.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96.png">
<link rel="icon" type="image/png" sizes="64x64" href="/static/favicon/favicon-64.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16.png">
